@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-color: #0A043C
  
}

.ExpenseForm {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  background-color: #03506F;;
  border-radius: 20px;
  padding-bottom: 30px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: azure;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.mb-3 {
  padding-top: 10px;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-input {
  padding-top: 10px;
  width: 45%;
}

.row {
  display: flex;
  flex-direction: row;
}
.button-style {
  font-family: 'Fredoka One', cursive;
  width: 30%;
  margin: auto;
  padding-bottom: 20px;
}
